
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url(../assets/aboutme.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h1>About Me</h1>
          <hr class="small">
          <span class="subheading">Still Growing Up Until Death</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" id="about_me">
      <p>
        我是一位跨領域、想在網路產業深耕的轉職者，熱愛電影，但商業類、科幻、特效很少接觸，幾乎是看以導演和劇情挑片，對於很少挑到雷片感到自信～
      </p>
      <p>
        一直以來都是從事後勤單位的工作。因為個性外向、喜歡解決問題，嚮往與各式各樣的人一起工作、互相學習和成長，展現自己的核心價值。在大學時，修了一門叫做“會計資訊系統”的課，靠著網路發問和翻書，寫出一個很簡單的教學程式，所以知道自己學習能力強，吸收快。直到去年，下定決心去學習Ruby on Rails，並在短時間內，累積了許多作品，不為別的，只是想藉由自己本身的學習能力的優勢，去學習新的技術和知識，開始新的工作職涯、持續精進與成長。         
      </p>
    </div>
  </div>
</div>

<hr>

