/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require jquery-ui
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

h2.post-title {
	color: #9090C7;
}

#clickme a {
	text-decoration: none;
	color: #010C0E;
	font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	&:hover {
		color: white;
		font-weight: bold;
	}
}

.dropdown-menu > li{
	list-style: none;
}

.share_icon {
	font-size: 16px;
    font-weight: 600;
    font-family: monospace;
}