// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.notice {	
	background-color: rgba(143, 240, 16, 0.32);
	color: azure;
	position: absolute;
	top: 60px;
	display: inline-block;
	min-width: 1280px;
	text-align: center;
}

@media all and (max-width: 1024px) {
	.notice {	
	top: 60px;
	min-width: 800px;	
	left: 20px;
	}
}

@media all and (max-width: 768px) {
	.notice {	
	top: 50px;
	min-width: 300px;	
	left: 60px;
	}
}

textarea#post_content {
	height: 300px;
}